{% extends "bash.html" %}
{% load i18n %}
{% block content %}
    <div id="content-wrapper">
        <div class="container-fluid">
            <ol class="breadcrumb">
                <li class="breadcrumb-item">
                    <a href="{% url 'new' %}">
                        <button class="btn btn-primary" onclick="popupfunc()">
                            新建
                        </button>
                    </a>
                </li>
            </ol>
        </div>
    </div>
    <script>
        function popupfunc() {
            window.open("{% url "new" %}","new","status=1,height:500,width:600,toolbar=0,resizeable=0")
        }
    
        function p1_receive_func(data) {
            var op = document.createElement("option");
            op.innerHTML = data;
            op.setAttribute("selected","selected");
            document.getElementById("i1").appendChild(op);
        }
    </script>
{% endblock %}