{% extends "bash.html" %}
{% load i18n %}
{% block content %}

    <div id="content-wrapper">

        <div class="container-fluid">
            <!-- Breadcrumbs-->
            <ol class="breadcrumb">
                <li class="breadcrumb-item">
                    <a href="#">Dashboard</a>
                </li>
                <li class="breadcrumb-item active">index</li>
            </ol>
            <a onclick="alter()">提交成功 ,3秒后跳转</a>
            <a  onclick="go()"  id="count"></a>

        </div>
    </div>
    <script>
		onload=function(){
			setInterval(go, 1000);
		};
		var x=3;
		function go(){
		x--;
			if(x>0){

			}else{
			location.href='{% url "cmdb:devicelist" %}';
			}
		}

    </script>

{% endblock %}