{% extends "bash.html" %}
{% load i18n %}
{% block content %}
    <form action="{% url 'cmdb:devicestatus' %}" method="post">
        {% csrf_token %}
        <input type="text" name="name"/>
        <input type="text" name="code"/>
        <input type="text" name="memo">
        {#        <input type="submit" value="submit" >#}
        <input type="submit" value="submit" onclick="firm()">
    </form>
    <script>
        function firm() {
            if (confirm("are you surce?")) {


            } else {
                alert("cancel")
            }
        }
    </script>
{% endblock %}